body
{
    background:#2771A6  url("http://holliematney.com/images/gd_bg.jpg");
    color: #858585;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}

a{
    color: #03A763;
}

h1, h2, h2, h4, h5 {
    color: #03A763;
    font-family: Tahoma,Geneva,sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 10px;
}
h1{
font-size:24px;
}

h2{

    font-size:26px;
}

h3{
    
    color: #03A763;
}

#container{
    margin:0 auto;
    width:960px;
}


#header{
    padding:0px 0px 0 0px;

}

#header h1{
    color:#fff;
}

#logo{
   float:left;
   margin:20px 0 0 10px;
}
#logo a{
  text-decoration: none;
  color:#fff;
}

#controlpanel{
   float:left;
   text-align: right;
   width:830px;
}

#controlpanel a{
   color:#282425;
}
#nav{
    float:right;
    margin-top:48px;

}

#nav ul
{
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 1px 0 0; 
}

#nav ul li{
    display: block;
    float: left;
  
    color: #FFFFFF;
    padding: 0 0 0 2px;
    
} 

#nav ul li a{
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    background-color: #eee;
    border:1px solid #e2e2e2;
    color:#666;
    border-width: 1px;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 15px;
    display: block;
    text-decoration:none;
}

#nav ul li a:hover{
    color:#00A600;
}

.clear {
    clear: both;
}

.strip {
    background: url("../images/strip.jpg") no-repeat scroll left top #c2c2c2;
    height: 5px;
}

#main{
    padding:0px 0px 20px 0px;
    background:#fff;
    line-height: 1.5em;
   
}

#head{
    padding:20px;
    background:#eee;
    height:50px;
    

}

#head h1{
    color:#00A600;
    font-size: 28px;
    font-weight: normal;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 0 #FFFFFF;

}

#left{
    float:left;
    padding:20px 20px 0 20px;
    width:630px;
    margin-right:20px;

}

#right{
    float:right;
    padding:20px 20px 0 20px;
    width:230px;
}

#right h5 {
    color: #6B6A6A;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#footer{
    width:100%;
    background:#eee;
    height:50px;
    padding-top:20px;
}

.even {
    background-color: #F0F0F0;
}

table {
    
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 5px;
    font-size:12px;
}


th {
    background-color: #292526;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    color: #fff;
    padding: 7px;
    text-align: left;
}

td {
    padding:10px;

}



table {
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
}

#adminpanel{
    padding:10px;
    background:#292526;
    border:1px solid #e2e2e2;
    font-size:14px;
    padding-bottom:20px;
}

#adminpanel a{
    text-decoration:none;
    color:#fff;
    
}

#adminpanel a:hover{
   text-decoration: underline;
}

/****Forms****/

input{
    font-size:16px;
    height: 30px;
}


.submit input{
    width:20px;
}

select {
    width:160px;
    font-size:16px;
}
textarea{
    font-size: 16px;
    height:140px;

}
label {
    font-size: 16px;
    line-height: 30px;
}
#box{

    padding:10px;
    background:#282425;
   
}

#box a{
    text-decoration: none;
    color:#fff;
}