<%content_for :left do%>
<h2>History/Information</h2>
The Jefferson Women’s Golf League had it’s beginning in the Spring of 1984. In 1990 the League Logo, designed by Past President Kay Stinson, was adopted. In 2002 the membership reached 140 and a fully automated computer system handled all aspects of the game results.
<br><br>
The League begins play the first week in April and ends the last week in October.  Tee times are generally between 7am-11:30am on Wednesdays.  We are a handicap league and have a set event each week with winners in each of the 4 flights. <br><br> Membership dues are paid back to members at the Annual Luncheon based on attendance and win points earned during the season.
<%end%>

<%content_for :right do%>
<h2>How Do I Join?</h2>
Applications are accepted throughout the year with names placed on a Wait List.  Beginning in January, as slots are available, the League Secretary begins contacting Wait List ladies inviting them to join. (We've generally brought in approx 25 ladies each year.) Membership is closed each year by the end of April.
<br><br>
<a href="#">Click here to APPLY online</a>
<br><br>
<a href="#"> Click to view WAIT list</a>

<br><br>

<a href="#">lick here for application as PDF file</a>
<%end%>