<%content_for :left do %>
<div>
<h2>News</h2>

<h3>Cocoa League Update</h3>



Karen has set aside 3 tee times on Wednesdays and Thursdays during

the month of November for the cocoa league, except for Nov 11th and 25th

(both being holidays). The tee times begin at 11:00, so ladies should

arrive by 10:30 to secure a spot. There is room for 12 ladies and it's

first come, first served.<br><br>

Please remember - The regulation time for the course is 2 hours and 10 minutes.  To achieve this pace please play  "ready" golf and limit practice swings.  Golfers should advance their ball to the green at double par , on hole five if you have reached 8 stokes.  Thank you for your co-operation.

<br>
<h3>Remember to cancel your tee time if you can't play</h3>


Jefferson Starter  703 573-0444   Ext 2   beginning at 6:30am

Arrive 30 minutes before your tee time


<br><br>
Bad Weather?<br>  Call starter ASAP to cancel your tee time.

If you DO plan to play, CALL or arrive EARLY to fill spots created by cancellations.
</div>
<%end%>

<%content_for :right do %>
<div>
<h2>Updates</h2>

Are your 2011 membership dues paid? Check member payment    Notify us of an address, phone or email change  Member info Update


<br><br>

When golf is not challenging enough try this 

<a href="http://www.wimp.com/gongshot">GongShot Video</a>


<br><br><span id="box"><%=link_to "Enter Your Daily Score",:controller=>"dailies", :action=>"new"%> </span>
</div>
<%end%>


